h1{
color:darkblue;
text-align:center;
}

h2{
color:green;
}

h3{
color:brown;
}

pre{
background-color:lightgreen;
}

#na{

color:brown;
}

#ma{
color:coral;
}
table{
border="1";
text-align:center;

}
th{
background-color:salmon;
}
em{
color:red;
}
em2{
color:purple;
}